/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    width:100%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;
}

/*------------------ Nav ------------*/  
.Navbar {
    background-color: #99cec2;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    align-items: center;
  }
  
  .Navbar__Link {
    padding: 10px 15px 10px 10px;
  }
  
  .Navbar__Items {
    display: flex;
    padding-left:10px;
    
  }
  
  .Navbar__Items--right {
    margin-left:auto;
  }
  .Navbar__Link-brand{
      font-weight: 900;
      font-size: 1.2rem;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      align-items:center;
    }
    .Navbar__Items {
      display:none;
    }
    .Navbar__Items--right {
      margin-left:0;
    }
    .Navbar__ToggleShow {
      display: flex;
    }
    .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
  }
/*------------------ header index ------------*/  


.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:rgb(255, 255, 255);
  padding-top:10%;
}
.header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url(https://images.pexels.com/photos/458381/pexels-photo-458381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:rgb(255, 255, 255)
}

.logo{
  text-decoration:none;
  display:flex;
  justify-content: center;
  margin-top:60px;
  font-weight:600;
  font-size:2rem;
  box-sizing:border-box;
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2);
}


@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.header button{
  color:rgb(255, 255, 255);
  background:none; 
  border:1px solid white;
  font-size: 1rem;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:10px 40px;
  margin-bottom:40px;
  margin-top:10px;
}


.headpretext{
    font-size: 1rem;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    padding:15px;
}


.headtext{
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    padding-bottom: 25px;
}

/*------------------ Text Content Section ------------*/  
.welcome{
    display:flex;
    flex-direction: column;
    text-align:center;
    margin:80px;
    padding-bottom:100px;
    padding-top:50px;
}

@media (max-width: 1200px){
.welcome{
    padding:20px 50px 50px 50px;
}
}
.welcome h2{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.welcome p{
    font-size: 1.2rem;
    line-height: 35px;
}

/*------------------ Features ------------*/  

.features{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 150px;
    
}

.features .ftbox{
    max-width:20%;
    line-height: 35px;
}


@media (max-width: 725px){
    .features{
        flex-direction:column;
        align-items: center;
    }
    .features .text-content p{
        text-align:center;
        padding-bottom:70px;
    }
}

.features .feature-icon{
    text-align:center;
    padding:20px;
    font-size: 1.6rem;
    color: #99cec2;
}

.features h2{
    color:black;
}

.features .text-content h2{
    text-align:center;
    font-size:1.2rem;
    padding-bottom: 15px;
}

/*------------------ Upcoming Features ------------*/  

.content{
    display:flex;
    width:100%;
    margin-top:40px;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    
}

.Gdescription{
   
    line-height: 40px;
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    padding:10px;
}
.Gdescription h2{
    font-size: 1.45rem;
    padding:12px;
    text-align: center;
    color: #000000;
}

/* ---- Blog ------*/

.blog{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
div.articles {
    margin-top: 100px;
    width: 180px;
  }
  
  div.articles:hover {
    border: 1px solid #777;
  }
  
  div.articles img {
    width: 100%;
    height: auto;
  }

  .articles {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#99cec2 ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.articles:hover .overlay {
  height: 100%;
}

.textphoto {
  color: rgb(67, 54, 102);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* ---- Subscribe ------*/


/* Container needed to position the button. Adjust the width as needed */
.containersub {
    position: relative;
    width: 100%;
    margin-top:200px;
    color:white;
    text-align: center;
  }
  
  /* Make the image responsive */
  .containersub img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .containersub .btn {
    background-color:#5ab9ea;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    padding:10px 40px;
    
  }
  .containersub h2{
    font-size:2rem;
    font-weight: 800;
    background:rgb(67, 54, 102);
    padding:5px;
  }
  
  .containersub .btn:hover {
    background-color: rgb(224, 224, 224);
  }

  .notify{
      display:flex;
      flex-direction: column;
      width:auto;
  }

  /* ---- Contact ------*/
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  
  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: url("https://i.pinimg.com/originals/ef/72/81/ef728165176b308ef98b83b9c30f8e8d.jpg");
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #5ab9ea;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #5ab9ea;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }