/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    width:100%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

/*------------------ header ------------*/  

}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:rgb(255, 255, 255);
}
.header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1511932112500-3e3fdf195fe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:rgb(255, 255, 255)
}
.menu{
  display:block;
  width:30px;
  height:30px;
  border:2px solid #5ab9ea;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:rgb(255, 255, 255);
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid rgb(255, 255, 255);
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  padding:5px 10px;
  font-weight:600;
  font-size:1.2em;
  box-sizing:border-box
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2);
  -ms-transform: translate(0px, -75px); /* IE 9 */
  -webkit-transform: translate(0px, -75px); /* Safari */
  transform: translate(0px, -75px);
}


@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.header button{
  color:rgb(255, 255, 255);
  background:#5ab9ea; 
  font-size: 1rem;
  border:none;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:10px 20px;
  margin-bottom:40px;
  margin-top:120px;
}

.headpretext{
    font-size: 1rem;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    padding:15px;
}


.headtext{
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    padding-bottom: 25px;
}

/*------------------ Text Content Section ------------*/  
.welcome{
    display:flex;
    flex-direction: column;
    text-align:center;
    margin:80px;
    padding-bottom:100px;
    padding-top:50px;
}

@media (max-width: 1200px){
.welcome{
    padding:20px 50px 50px 50px;
}
}
.welcome h2{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.welcome p{
    font-size: 1.2rem;
    line-height: 35px;
}

/*------------------ Features ------------*/  

.features{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
    
}

.features .ftbox{
    max-width:20%;
    line-height: 35px;
}


@media (max-width: 725px){
    .features{
        flex-direction:column;
    }
    .features .text-content p{
        text-align:center;
        padding-bottom:70px;
    }
}

.features .feature-icon{
    text-align:center;
    padding:20px;
    font-size: 1.6rem;
    color: #8860d0;
}

.features h2{
    color:#5ab9ea;
}

.features .text-content h2{
    text-align:center;
    font-size:1.2rem;
    padding-bottom: 15px;
}

/*------------------ Upcoming Features ------------*/  

.content{
    display:flex;
    justify-content: space-between;
    background: #8860d0;
    margin-top:40px;
    align-items: center;
    
}
.Gimage img{
   max-width: 400px;
   height: 500px;
}
.Gdescription{
    max-width: 425px;
    line-height: 40px;
    color:white;
    font-size: 1.2rem;
 
}
.Gdescription h2{
    font-size: 1.45rem;
    padding:12px;
    text-align: center;
}

div .content #con2{
    background:red;
}